<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="myexpenses.ng2.com.myexpenses">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppThemeGreen">
        <activity
            android:name=".Activities.LauncherPickerActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoDisplay"
            android:finishOnTaskLaunch="true"
            android:clearTaskOnLaunch="true"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.AddExpenseActivity"
            android:label="@string/title_activity_add_expense"
            android:parentActivityName=".Activities.OverviewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activities.AddIncomeActivity"
            android:label="@string/title_activity_add_income"
            android:parentActivityName=".Activities.OverviewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activities.HistoryActivity"
            android:label="@string/title_activity_history"
            android:parentActivityName=".Activities.OverviewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activities.UserDetailsActivity"
            android:label="@string/title_activity_user_details"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".BroadcastReceivers.ReminderReceiver"
            android:enabled="true" />

        <service
            android:name=".Utils.AlarmService"
            android:enabled="true" />

        <activity
            android:name=".Activities.PasswordActivity"
            android:label="@string/title_activity_password"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activities.OverviewActivity"
            android:label="@string/title_activity_launcher_picker"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activities.CategoriesManagerActivity"
            android:label="@string/title_activity_categories_manager"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activities.SettingsActivity"
            android:label="@string/title_activity_settings_activity2"
            android:parentActivityName=".Activities.OverviewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name=".Activities.TransparentActivity"
            android:label="@string/title_activity_transparent"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activities.CreateCategoryActivity"
            android:label="CreateCategoryActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Utils.FiltersDateToDateActivity"
            android:label="FiltersDateToDate"
            android:screenOrientation="portrait"
            android:parentActivityName=".Activities.HistoryActivity" />

    </application>

</manifest>
